.searchBox {
    border: none;
    box-sizing: border-box;
    color: #fff;
    z-index: 1;
    display: block;
    font-size: 1.2em;
    margin-top: 2px;
    height: 40px;
    padding-right: 10px;
    position: absolute;
    width: 100%;
}

.material-card {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 200px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    margin: 8px;
}

.material-image {
    background-repeat: round;
    min-width: 100%;
    max-width: 100%;
    min-height: 140px;
    max-height: 120px;
    display: block;
    width: auto;
    height: auto;
    overflow: hidden;
}

.content {
    text-align: center;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 15px;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    white-space: inherit;
}